body {
    font-family: Arial, sans-serif;
    background-color: black;
}

.container {
    text-align: center;
    margin-top: 50px;
}

h1 {
    margin-bottom: 20px;
    color: blue;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    margin-bottom: 20px;
    margin-left: 570px;
    background-color: transparent;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    border: none;
}

.cell:hover {
    background-color: blue;
}

.status {
    margin-bottom: 20px;
    color: blue;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: transparent;
}